:root {
    --blue: blue;
    --red: red;
}







.container {
    width: 1150px;
    padding: 0 5px;
    margin: 0 auto;
    display: flex;
    flex-shrink: unset;



}


body {
    background-image: linear-gradient(to top right, var(--blue), var(--red));
    font-family: "Permanent Marker", sans-serif;
    font-style: normal;
    object-fit: cover;
    overflow: auto;
    background-repeat: no-repeat;
    background-position: 60%;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
    box-sizing: border-box;
}



p {
    font-size: 100px;
}

h1 {
    font-size: 40px;
}







   @media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}





audio:hover, :focus {
    border-radius: 20px;
    background-image: linear-gradient( to bottom left, var(--blue), var(--red));
    padding: 12px;
}

.section {
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 2px 15px 38px 1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 2px 15px 38px 1px rgba(0, 0, 0, 0.55);
    box-shadow: 2px 15px 38px 1px rgba(0, 0, 0, 0.55);
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 40px;
    padding: 30px;
}




.music {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 2px 15px 38px 1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 2px 15px 38px 1px rgba(0, 0, 0, 0.55);
    box-shadow: 2px 15px 38px 1px rgba(0, 0, 0, 0.55);
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 40px;


}


h1 {
    margin-left: 15px;
    margin-right: 15px;
}
